<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e75d1db1-b338-4b3c-bbe1-89c8e264e999/resourcegroups/maersksea/providers/Microsoft.Web/sites/maersklinetp031731sea</ResourceId>
    <ResourceGroup>maersksea</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maersklinetp031731sea.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maersklinetp031731sea.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>maersklinetp031731sea</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$maersklinetp031731sea</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:maersklinetp031731seadbserver.database.windows.net,1433;Initial Catalog=maersklinetp031731sea_db;User ID=jeremy@maersklinetp031731seadbserver;Password=Password2017" Name="Data Source=tcp:maersklinetp031731seadbserver.database.windows.net,1433;Initial Catalog=maersklinetp031731sea_db;User Id=jeremy@maersklinetp031731seadbserver;Password=Password2017" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DotNetAppSqlDb.Models.ApplicationDbContext, DotNetAppSqlDb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MyDbConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:maersklinetp031731seadbserver.database.windows.net,1433;Initial Catalog=maersklinetp031731sea_db;User ID=jeremy@maersklinetp031731seadbserver;Password=Password2017" Name="Data Source=tcp:maersklinetp031731seadbserver.database.windows.net,1433;Initial Catalog=maersklinetp031731sea_db;User Id=jeremy@maersklinetp031731seadbserver;Password=Password2017" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DotNetAppSqlDb.Models.MyDatabaseContext, DotNetAppSqlDb" MigrationConfiguration="DotNetAppSqlDb.Migrations.Configuration, DotNetAppSqlDb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyDbConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maersklinetp031731seadbserver.database.windows.net,1433;Initial Catalog=maersklinetp031731sea_db;User Id=jeremy@maersklinetp031731seadbserver;Password=Password2017</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maersklinetp031731seadbserver.database.windows.net,1433;Initial Catalog=maersklinetp031731sea_db;User Id=jeremy@maersklinetp031731seadbserver;Password=Password2017</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>